.body{
    background-color: #28374c;
    color: #91a0b7;
    padding: 42px 0;
    display: grid;
}
.footerimg{
    max-width: 80px;
    height: 80px;
}
h5{
    color: whitesmoke;
}
a{
    text-decoration: none;
    color: #91a0b7;
}
.tagButton{
    border: #91a0b7 solid 1px;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 5px 14px;
}
.followUs{
    margin: 20px
}
.footerInput{
    height: 35px;
    width: 70%;
    padding: 4px;
}
.subscribeButton{
    background-color: #e72c30;
    color: whitesmoke;
    height: 35px;
    width: 25%;
}